* {
  margin: 0;
  padding: 0;
}

body {
  background: #DFDFEF;
  font-family: 'Helvetica Neue';
  font-size: 10px;
  color: #414141;
  font-size: 1.5em;
  line-height: 2em;
}

.chat-box {
  background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
  margin: 20px;
  max-width: 400px;
  height: 600px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 400px;
  height: 500px;
  overflow: scroll;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container.active {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 1;
}

.chat-container.hidechat {
  transform: translateX(-10%);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

.chat-control {
  padding: 1.2em;
  margin-top: 506px;
}

.chat-input {
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
  padding: 0.7em;
}

.chat-input:focus {
  border: none;
}

.chat-header {
  background: #fff;
  padding: 0.5em;
  padding-bottom: .7em;
  text-align: center;
}

.chat-header span {
  font-size: 12px;
  position: absolute;
  margin: 47px -50px;
  font-style: italic;
}

p {
  margin: 0;
}

.bubble {
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  background: white;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin: 10px 0;
  word-wrap: break-word;
  font-size: 1em;
}

/*.bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: white;
  bottom: 1px;
  transform: rotateZ(-90deg);
  left: -15px;
}*/

.bubble-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(90deg);
  right: -16px;
}

.dt-alt {
  float: right;
}
