* {
  margin: 0;
  padding: 0;
}

body {
  background: #DFDFEF;
  font-family: 'Helvetica Neue';
  font-size: 10px;
  color: #414141;
  font-size: 1.5em;
  line-height: 2em;
}

.chat-box {
  background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
  margin: 20px;
  max-width: 400px;
  height: 600px;
<<<<<<< ca1674afd42a35c7ccfafa0d97b0cd991dc0bb60
<<<<<<< 0d1b34eca1aac614d23376bc786dc468a5d9b63e
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0.6;
=======
  /*box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);*/
  /*border : 1px solid #000;*/
  /*overflow: hidden;*/
=======
>>>>>>> Done chat-box
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
>>>>>>> Add chat table
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 400px;
  height: 500px;
  overflow: scroll;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container.active {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 1;
}

.chat-container.hidechat {
  transform: translateX(-10%);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

.chat-control {
  padding: 1.2em;
<<<<<<< ca1674afd42a35c7ccfafa0d97b0cd991dc0bb60
<<<<<<< 0d1b34eca1aac614d23376bc786dc468a5d9b63e
  margin-top: 506px;
=======
  margin-top: 495px;
>>>>>>> Add chat table
=======
  margin-top: 506px;
>>>>>>> Done chat-box
}

.chat-input {
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
  padding: 0.7em;
}

.chat-input:focus {
  border: none;
}

.chat-header {
  background: #fff;
  padding: 0.5em;
  padding-bottom: .7em;
  text-align: center;
}

.chat-header span {
  font-size: 12px;
  position: absolute;
  margin: 47px -50px;
  font-style: italic;
}

p {
  margin: 0;
}

.bubble {
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  background: white;
  padding: 0.5em 1em;
  border-radius: 3px;
<<<<<<< ca1674afd42a35c7ccfafa0d97b0cd991dc0bb60
<<<<<<< 0d1b34eca1aac614d23376bc786dc468a5d9b63e
  margin: 10px 0;
=======
  /*box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);*/
  margin: 10px 0;
  /*color: rgba(255, 255, 255, 0.7);*/
>>>>>>> Add chat table
=======
  margin: 10px 0;
>>>>>>> Done chat-box
  word-wrap: break-word;
  font-size: 1em;
}

<<<<<<< ca1674afd42a35c7ccfafa0d97b0cd991dc0bb60
<<<<<<< 0d1b34eca1aac614d23376bc786dc468a5d9b63e
/*.bubble:after {
=======
.bubble:after {
>>>>>>> Add chat table
=======
/*.bubble:after {
>>>>>>> Done chat-box
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: white;
  bottom: 1px;
  transform: rotateZ(-90deg);
  left: -15px;
<<<<<<< ca1674afd42a35c7ccfafa0d97b0cd991dc0bb60
<<<<<<< 0d1b34eca1aac614d23376bc786dc468a5d9b63e
}*/
=======
}
>>>>>>> Add chat table
=======
}*/
>>>>>>> Done chat-box

.bubble-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(90deg);
  right: -16px;
}

<<<<<<< ca1674afd42a35c7ccfafa0d97b0cd991dc0bb60
<<<<<<< 0d1b34eca1aac614d23376bc786dc468a5d9b63e
=======
.datestamp {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: #8b91a0;
  float: left;
  opacity: 0;
}

>>>>>>> Add chat table
=======
>>>>>>> Done chat-box
.dt-alt {
  float: right;
}
